:root {
    --main-bg-color: #FFE6E6;
    --main-color-light: #E1AFD1;
    --main-color-medium: #AD88C6;
    --main-color-dark: #7469B6;
    --main-color-darker: #170027;
}

header {
    background-color: var(--main-color-light);
    border-radius: 3vh;
    padding: 2.5vh;
    margin: 3vh 1.3vh;
    box-shadow: 2px 2px var(--main-color-medium);
}
#title {
    color: var(--main-color-dark);
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 9vh;
    text-shadow: 2px 2px var(--main-color-medium);
}


body{
    background-color: var(--main-bg-color);
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2.5vh;
    align-items: stretch;
}

.leftTexts,
.rightTexts{
    display: grid;
    gap: 2.5vh;
}

.elements{
    background-color: var(--main-color-light);
    padding: 3.5vh;
    border-radius: 3vh;
    margin: 2.5vh;
    box-shadow: 2px 2px var(--main-color-medium);
}

#MainImage{
    border-radius: 3vh;
    border: 1.3vh solid var(--main-color-light);
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.projectImage {
    width: 20vh;
    height: auto;
}

.elementTitle {
    color: var(--main-color-dark);
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 5vh;
    text-shadow: 2px 2px var(--main-color-medium);
}

.text {
    color: var(--main-color-darker);
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 2.5vh;
    line-height: 4vh;
}
.insightHorizontal{
    display: flex;
    justify-content: space-around;
}

.imageAndTextHorizontal{
    width: 40vw;
}

.insightImageHorizontal{
    width: 40vw;
    height: auto;
    border-radius: 3vh;
}
.elementInsight{
    margin: 5vh;
}
.insightVertical{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vh;
    justify-items: center;
}

.imageAndTextVertical{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insightImageVertical{
    height: auto;
    width: 25vw;
    border-radius: 3vh;
    margin-bottom: 2vh;
}

.pictureAndTextVertical .imageTexts{
    width: 100%;           /* match image width */
    max-width: fit-content;
    text-align: left;
}