:root {
    --main-bg-color: #FFE6E6;
    --main-color-light: #E1AFD1;
    --main-color-medium: #AD88C6;
    --main-color-dark: #7469B6;
    --main-color-darker: #170027;
}

header {
    background-color: var(--main-color-light);
    border-radius: 3vh;
    padding: 2.5vh;
    margin: 3vh 1.3vh;
}

.ProjectImages {
    width: 20vh;
    height: auto;
}

#title-font {
    color: var(--main-color-dark);
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 9vh;
    text-shadow: 2px 2px var(--main-color-medium);
}

body {
    background-color: var(--main-bg-color);
}

.ProjectWrappers {
    display: flex;
    justify-content: center;
}

.Projects {
    border-radius: 3vh;
    border: 1.3vh solid var(--main-color-light);
    background-color: var(--main-bg-color);
    margin: 2.5vh;
    box-shadow: 2px 2px var(--main-color-medium);
}
